{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
<div class="modal-header modal-title">
    <button class="close" data-dismiss="modal">&times;</button>
    <h1>Article edit</h1>
</div>
<div class="modal-body">
    {{ form(edit_form) }}
    <div class="delete-form" style="display:none;">
        {{ form(delete_form) }}
    </div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-danger deleteElement">Delete</button>
<button type="button" class="btn btn-success saveElement">Save</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
