<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Los Tres Patitos Admin Panel" name="description">
    <meta content="Esteban Arias Gonzalez" name="author">
    <link rel="shortcut icon" type="image/png" href="/apple-touch-icon.png" />
    <title>{% block title %}Los Tres Patitos.{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/main.css" />
    {% endblock %}
    {% block head_javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script src="//cdn.datatables.net/s/bs-3.3.5/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0,r-2.0.0/datatables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="/assets/notyjs/packaged/jquery.noty.packaged.min.js"></script>
        <script src="/assets/js/main.js"></script>
    {% endblock %}
    </head>
    <body>
        <div class="wdt-loading-screen">
            <div class="wdt-loading-phrases">
                <div class="wdt-loading-phrase-category" data-category="default">
                    <div class="wdt-loading-phrase">Looking issues...</div>
                    <div class="wdt-loading-phrase">Feeding the unicorns...</div>
                    <div class="wdt-loading-phrase">Creating some notifications...</div>
                    <div class="wdt-loading-phrase">Applying css...</div>
                    <div class="wdt-loading-phrase">Clearing the queue...</div>
                    <div class="wdt-loading-phrase">Fixing responsive issues...</div>
                    <div class="wdt-loading-phrase">Painting office walls...</div>
                    <div class="wdt-loading-phrase">Coffee break...</div>
                    <div class="wdt-loading-phrase">Feeding cats...</div>
                    <div class="wdt-loading-phrase">Health check...</div>
                    <div class="wdt-loading-phrase">Fixing typos...</div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Los Tres Patitos</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="{% if app.request.attributes.get('_route') == 'index' %}active{% endif %}"><a href="/article/">Articles</a></li>
                        <li class="{% if app.request.attributes.get('_route') starts with 'store' %}active{% endif %}"><a href="/store/">Stores</a></li>
                        <li><a href="/api/doc" target="_BLANK">API Documentation</a></li>
                        <li><a href="/backend/docs/index.html" target="_BLANK">Backend Documentation</a></li>
                        <li><a href="/admin" target="_BLANK">Sonata Admin</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="wrapper container">
            <header>
            </header>
            <div class="heading"></div>
            <div class="row">
                <section class="col-md-12">
                    {% block body %}
                    {% endblock %}
                </section>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class='text-muted'>Designed and built with <a href="https://symfony.com/" target="_BLANK" title="Symfony Framework">Symfony 2.7</a> and <a href="http://getbootstrap.com/" title="Bootstrap" target="_BLANK">Bootstrap 3.3</a> <br \>
                Code licensed <a target="_blank" href="https://bitbucket.org/estebanarias93/ltpesteban/src/46d09c83a35fb316b2cebbdf2608270461c87cd8/LICENSE?at=master&fileviewer=file-view-default" target="_BLANK" rel="license">MIT</a>, docs <a target="_blank" href="https://creativecommons.org/licenses/by/3.0/" rel="license">CC BY 3.0</a>.</p>
            </div>
        </footer>
        <div class="modal-container">
            <div data-target="modal" data-fixed-scroll></div>
        </div>
        <div id="jqueryModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts%}
        {% endblock %}
    </body>
</html>
