{% extends '::base.html.twig' %}

{% block body %}
<h1>Store list</h1>
    {{ datatable_render(datatable) }}
{% endblock %}

{% block javascripts %}
    <script>
        tableContainer.init();
    </script>
{% endblock %}
