{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="modal-header modal-title">
    <button class="close" data-dismiss="modal">&times;</button>
    <h1>Store creation</h1>
</div>
<div class="modal-body">
    {{ form(form) }}
</div>
<div class="modal-footer">
<button type="button" class="btn btn-success saveElement">Save</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
