<div class="modal-header modal-title">
    <button class="close" data-dismiss="modal">&times;</button>
    <h1>Store Details</h1>
</div>
<div class="modal-body">
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
        </tbody>
    </table>
    <div class="delete-form" style="display:none;">
        {{ form(delete_form) }}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger deleteElement">Delete</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
