/*
* This file contains the relationships to the custom stylesheets for the
* interface graphics.
*/

@import "preloader";
@import "content/dashboard";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-theme";
@import "bootstrap/bootstrap-editable";
@import "animate/animate";
@import "fontawesome/font-awesome";
@import "daterange/daterangepicker";
@import "datatable/datatables";

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.container .text-muted {
    margin: 20px 0;
}
body > .wrapper.container {
    padding: 60px 16px 100px;
}
.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#jqueryModal > .modal-dialog {
  padding-bottom: 100px;
}

.isloading-wrapper.isloading-right {
    margin-left: 10px;
}
.isloading-overlay {
    position: relative;
    text-align: center;
}
.isloading-overlay .isloading-wrapper {
    background: #ffffff none repeat scroll 0 0 padding-box;
    border-radius: 7px;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    top: 10%;
    z-index: 9000;
}

.glyphicon-spin {
    height: 0.9em;
}
.glyphicon-spin {
    animation: 2s linear 0s normal none infinite running spin;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@-moz-document url-prefix("") {
    .icon-spin {
        height: 0.9em;
    }
    .btn .icon-spin {
        height: auto;
    }
    .icon-spin.icon-large {
        height: 1.25em;
    }
    .btn .icon-spin.icon-large {
        height: 0.75em;
    }
}
